body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    overflow: hidden;
}

.banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.banner h2 {
    margin: 0;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h1 {
    font-size: 64px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.mac {
    color: #000;
}

.book {
    color: #ffd700;
}

.buy-now {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.buy-now:hover {
    background-color: #0056b3;
}

p {
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    color: #000;
    text-align: left;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
